USE [master]
GO
/****** Object:  Database [NARWCDB]    Script Date: 6/16/2025 9:39:23 PM ******/
CREATE DATABASE [NARWCDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NARWCDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NARWCDB.mdf' , SIZE = 10485760KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NARWCDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NARWCDB_log.ldf' , SIZE = 112384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NARWCDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NARWCDB]
GO
/****** Object:  User [NARWC]    Script Date: 6/16/2025 9:39:23 PM ******/
CREATE USER [NARWC] FOR LOGIN [NARWC] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [matlab]    Script Date: 6/16/2025 9:39:23 PM ******/
CREATE USER [matlab] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NARWC]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NARWC]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NARWC]
GO
ALTER ROLE [db_owner] ADD MEMBER [matlab]
GO
/****** Object:  Table [dbo].[ANHEAD]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANHEAD](
	[Value] [varchar](4) NOT NULL,
	[Direction] [varchar](50) NULL,
	[LowDeg] [numeric](18, 0) NULL,
	[HighDeg] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beaufort]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beaufort](
	[Value] [varchar](4) NULL,
	[lWind] [int] NULL,
	[hWind] [int] NULL,
	[Waves] [numeric](18, 2) NULL,
	[Description] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Behave]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Behave](
	[Value] [varchar](3) NULL,
	[Description] [varchar](75) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Block]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Block](
	[Value] [varchar](2) NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cloud]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cloud](
	[Value] [int] NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Confidnc]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Confidnc](
	[Value] [int] NOT NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrib]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrib](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DDSOURCE]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DDSOURCE](
	[Value] [varchar](4) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DType]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DType](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GLARE]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GLARE](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDREL]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDREL](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDSOURCE]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDSOURCE](
	[Value] [varchar](4) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEGGOOD]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEGGOOD](
	[Value] [varchar](1) NOT NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEGSTAGE]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEGSTAGE](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEGTYPE]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEGTYPE](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Master]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Master](
	[ALT] [numeric](38, 16) NULL,
	[ANHEAD] [numeric](38, 16) NULL,
	[BEAUFORT] [numeric](38, 16) NULL,
	[BEHAV1] [numeric](38, 16) NULL,
	[BEHAV2] [numeric](38, 16) NULL,
	[BEHAV3] [numeric](38, 16) NULL,
	[BEHAV4] [numeric](38, 16) NULL,
	[BEHAV5] [numeric](38, 16) NULL,
	[BEHAV6] [numeric](38, 16) NULL,
	[BEHAV7] [numeric](38, 16) NULL,
	[BEHAV8] [numeric](38, 16) NULL,
	[BEHAV9] [numeric](38, 16) NULL,
	[BEHAV10] [numeric](38, 16) NULL,
	[BEHAV11] [numeric](38, 16) NULL,
	[BEHAV12] [numeric](38, 16) NULL,
	[BEHAV13] [numeric](38, 16) NULL,
	[BEHAV14] [numeric](38, 16) NULL,
	[BEHAV15] [numeric](38, 16) NULL,
	[BLOCK] [varchar](102) NULL,
	[CLOUD] [numeric](38, 16) NULL,
	[CONFIDNC] [numeric](38, 16) NULL,
	[DAY] [numeric](38, 16) NULL,
	[DDSOURCE] [varchar](103) NULL,
	[EVENTNO] [numeric](38, 16) NULL,
	[FILEID] [varchar](107) NULL,
	[GLAREL] [numeric](38, 16) NULL,
	[GLARER] [numeric](38, 16) NULL,
	[HEADING] [numeric](38, 16) NULL,
	[IDREL] [numeric](38, 16) NULL,
	[IDSOURCE] [varchar](103) NULL,
	[LAT_DD] [numeric](38, 16) NULL,
	[LEGNO] [numeric](38, 16) NULL,
	[LEGSTAGE] [numeric](38, 16) NULL,
	[LEGTYPE] [numeric](38, 16) NULL,
	[LONG_DD] [numeric](38, 16) NULL,
	[MONTH] [numeric](38, 16) NULL,
	[NUMBER] [numeric](38, 16) NULL,
	[NUMCALF] [numeric](38, 16) NULL,
	[PHOTOS] [numeric](38, 16) NULL,
	[PLATFORM] [numeric](38, 16) NULL,
	[S_LAT] [numeric](38, 16) NULL,
	[S_LONG] [numeric](38, 16) NULL,
	[S_TIME] [numeric](38, 16) NULL,
	[SIGHTNO] [numeric](38, 16) NULL,
	[SPECCODE] [varchar](104) NULL,
	[STRATUM] [varchar](101) NULL,
	[STRIP] [numeric](38, 16) NULL,
	[SURFTEMP] [numeric](38, 16) NULL,
	[TAXCODE] [numeric](38, 16) NULL,
	[TIME] [numeric](38, 16) NULL,
	[VISIBLTY] [numeric](38, 16) NULL,
	[WX] [varchar](101) NULL,
	[YEAR] [numeric](38, 16) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OLDVIZ]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLDVIZ](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHOTOS]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHOTOS](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLATFORM]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLATFORM](
	[Value] [varchar](4) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPECCODE]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECCODE](
	[Value] [varchar](4) NOT NULL,
	[SPECNAME] [varchar](200) NULL,
	[SPECCHAR] [varchar](2) NULL,
	[SPECNUM] [varchar](2) NULL,
	[Type] [varchar](20) NULL,
	[TAXCODE] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STRATUM]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRATUM](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STRIP]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRIP](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAXCODE]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAXCODE](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WX]    Script Date: 6/16/2025 9:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WX](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
USE [master]
GO
