USE [master]
GO
/****** Object:  Database [NARWCDB]    Script Date: 6/26/2026 6:37:37 PM ******/
CREATE DATABASE [NARWCDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NARWCDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NARWCDB.mdf' , SIZE = 8192000KB , MAXSIZE = UNLIMITED, FILEGROWTH = 512000KB )
 LOG ON 
( NAME = N'NARWCDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\NARWCDB_log.ldf' , SIZE = 112384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NARWCDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NARWCDB]
GO
/****** Object:  User [NARWC]    Script Date: 6/26/2026 6:37:37 PM ******/
CREATE USER [NARWC] FOR LOGIN [NARWC] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [matlab]    Script Date: 6/26/2026 6:37:37 PM ******/
CREATE USER [matlab] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MAI\Administrator]    Script Date: 6/26/2026 6:37:37 PM ******/
CREATE USER [MAI\Administrator] FOR LOGIN [MAI\Administrator] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NARWC]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NARWC]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NARWC]
GO
ALTER ROLE [db_owner] ADD MEMBER [matlab]
GO
/****** Object:  Table [dbo].[ANHEAD]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANHEAD](
	[Value] [int] NOT NULL,
	[Direction] [varchar](50) NOT NULL,
	[LowDeg] [numeric](18, 0) NOT NULL,
	[HighDeg] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_ANHEAD] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beaufort]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beaufort](
	[Value] [int] NOT NULL,
	[lWind] [int] NOT NULL,
	[hWind] [int] NOT NULL,
	[Waves] [numeric](18, 2) NOT NULL,
	[Description] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Beaufort] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Behave]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Behave](
	[Value] [int] NOT NULL,
	[Description] [varchar](75) NOT NULL,
 CONSTRAINT [PK_Behave] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Block]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Block](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Block] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cloud]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cloud](
	[Value] [int] NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Cloud] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Confidnc]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Confidnc](
	[Value] [int] NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Confidnc] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrib]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrib](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DDSOURCE]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DDSOURCE](
	[Value] [varchar](3) NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_DDSOURCE] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DType]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DType](
	[Value] [varchar](2) NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_DType] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GLARE]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GLARE](
	[Value] [int] NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_GLARE] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDREL]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDREL](
	[Value] [int] NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_IDREL] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDSOURCE]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDSOURCE](
	[Value] [varchar](3) NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_IDSOURCE] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEGGOOD]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEGGOOD](
	[Value] [int] NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LEGGOOD] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEGSTAGE]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEGSTAGE](
	[Value] [int] NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_LEGSTAGE] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEGTYPE]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEGTYPE](
	[Value] [int] NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_LEGTYPE] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Master]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Master](
	[ALT] [int] NULL,
	[ANGLEL] [int] NULL,
	[ANGLER] [int] NULL,
	[ANHEAD] [int] NULL,
	[BEAUFORT] [int] NULL,
	[BEHAV1] [int] NULL,
	[BEHAV2] [int] NULL,
	[BEHAV3] [int] NULL,
	[BEHAV4] [int] NULL,
	[BEHAV5] [int] NULL,
	[BEHAV6] [int] NULL,
	[BEHAV7] [int] NULL,
	[BEHAV8] [int] NULL,
	[BEHAV9] [int] NULL,
	[BEHAV10] [int] NULL,
	[BEHAV11] [int] NULL,
	[BEHAV12] [int] NULL,
	[BEHAV13] [int] NULL,
	[BEHAV14] [int] NULL,
	[BEHAV15] [int] NULL,
	[BLOCK] [varchar](2) NULL,
	[CLOUD] [int] NULL,
	[CONFIDNC] [int] NULL,
	[DAY] [int] NULL,
	[DDSOURCE] [varchar](3) NOT NULL,
	[EVENTNO] [int] NOT NULL,
	[FILEID] [varchar](8) NOT NULL,
	[GLAREL] [int] NULL,
	[GLARER] [int] NULL,
	[HEADING] [numeric](38, 16) NULL,
	[IDREL] [int] NULL,
	[IDSOURCE] [varchar](3) NOT NULL,
	[LAT_DD] [numeric](38, 16) NULL,
	[LEGNO] [int] NULL,
	[LEGSTAGE] [int] NULL,
	[LEGTYPE] [int] NULL,
	[LONG_DD] [numeric](38, 16) NULL,
	[MONTH] [int] NULL,
	[NUMBER] [int] NULL,
	[NUMCALF] [int] NULL,
	[PHOTOS] [int] NULL,
	[PLATFORM] [int] NULL,
	[SIGHTNO] [int] NULL,
	[SPECCODE] [varchar](4) NULL,
	[STRATUM] [varchar](1) NULL,
	[STRIP] [int] NULL,
	[SURFTEMP] [numeric](38, 16) NULL,
	[S_LAT] [numeric](38, 16) NULL,
	[S_LONG] [numeric](38, 16) NULL,
	[S_TIME] [int] NULL,
	[TAXCODE] [int] NULL,
	[TIME] [int] NULL,
	[VISIBLTY] [numeric](38, 16) NULL,
	[WX] [varchar](1) NULL,
	[YEAR] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONTH]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTH](
	[MonthID] [int] NOT NULL,
	[MonthName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MonthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OLDVIZ]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLDVIZ](
	[Value] [int] NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_OLDVIZ] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHOTOS]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHOTOS](
	[Value] [int] NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_PHOTOS] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLATFORM]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLATFORM](
	[Value] [int] NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_PLATFORM] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPECCODE]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECCODE](
	[Value] [varchar](4) NOT NULL,
	[SPECNAME] [varchar](200) NOT NULL,
	[SPECCHAR] [varchar](2) NULL,
	[SPECNUM] [varchar](2) NULL,
	[Type] [varchar](20) NULL,
	[TAXCODE] [nvarchar](1) NULL,
 CONSTRAINT [PK_SPECCODE] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STRATUM]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRATUM](
	[Value] [varchar](1) NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_STRATUM] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STRIP]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRIP](
	[Value] [int] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAXCODE]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAXCODE](
	[Value] [int] NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TAXCODE] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WX]    Script Date: 6/26/2026 6:37:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WX](
	[Value] [varchar](1) NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_WX] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_ANHEAD] FOREIGN KEY([ANHEAD])
REFERENCES [dbo].[ANHEAD] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_ANHEAD]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Beaufort] FOREIGN KEY([BEAUFORT])
REFERENCES [dbo].[Beaufort] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Beaufort]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave1] FOREIGN KEY([BEHAV1])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave1]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave10] FOREIGN KEY([BEHAV10])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave10]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave11] FOREIGN KEY([BEHAV11])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave11]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave12] FOREIGN KEY([BEHAV12])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave12]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave13] FOREIGN KEY([BEHAV13])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave13]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave14] FOREIGN KEY([BEHAV14])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave14]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave15] FOREIGN KEY([BEHAV15])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave15]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave2] FOREIGN KEY([BEHAV2])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave2]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave3] FOREIGN KEY([BEHAV3])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave3]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave4] FOREIGN KEY([BEHAV4])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave4]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave5] FOREIGN KEY([BEHAV5])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave5]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave6] FOREIGN KEY([BEHAV6])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave6]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave7] FOREIGN KEY([BEHAV7])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave7]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave8] FOREIGN KEY([BEHAV8])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave8]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Behave9] FOREIGN KEY([BEHAV9])
REFERENCES [dbo].[Behave] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Behave9]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Block] FOREIGN KEY([BLOCK])
REFERENCES [dbo].[Block] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Block]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Cloud] FOREIGN KEY([CLOUD])
REFERENCES [dbo].[Cloud] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Cloud]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_Confidnc] FOREIGN KEY([CONFIDNC])
REFERENCES [dbo].[Confidnc] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_Confidnc]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_DDSOURCE] FOREIGN KEY([DDSOURCE])
REFERENCES [dbo].[DDSOURCE] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_DDSOURCE]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_GLAREL] FOREIGN KEY([GLAREL])
REFERENCES [dbo].[GLARE] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_GLAREL]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_GLARER] FOREIGN KEY([GLARER])
REFERENCES [dbo].[GLARE] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_GLARER]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_IDREL] FOREIGN KEY([IDREL])
REFERENCES [dbo].[IDREL] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_IDREL]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_IDSOURCE] FOREIGN KEY([IDSOURCE])
REFERENCES [dbo].[IDSOURCE] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_IDSOURCE]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_LEGSTAGE] FOREIGN KEY([LEGSTAGE])
REFERENCES [dbo].[LEGSTAGE] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_LEGSTAGE]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_LEGTYPE] FOREIGN KEY([LEGTYPE])
REFERENCES [dbo].[LEGTYPE] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_LEGTYPE]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_MONTH] FOREIGN KEY([MONTH])
REFERENCES [dbo].[MONTH] ([MonthID])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_MONTH]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_PHOTOS] FOREIGN KEY([PHOTOS])
REFERENCES [dbo].[PHOTOS] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_PHOTOS]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_PLATFORM] FOREIGN KEY([PLATFORM])
REFERENCES [dbo].[PLATFORM] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_PLATFORM]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_SPECCODE] FOREIGN KEY([SPECCODE])
REFERENCES [dbo].[SPECCODE] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_SPECCODE]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_STRATUM] FOREIGN KEY([STRATUM])
REFERENCES [dbo].[STRATUM] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_STRATUM]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_STRIP] FOREIGN KEY([STRIP])
REFERENCES [dbo].[STRIP] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_STRIP]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_TAXCODE] FOREIGN KEY([TAXCODE])
REFERENCES [dbo].[TAXCODE] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_TAXCODE]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [FK_Master_WX] FOREIGN KEY([WX])
REFERENCES [dbo].[WX] ([Value])
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [FK_Master_WX]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [CK_DAY_1] CHECK  (([DAY]<=(31)))
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [CK_DAY_1]
GO
ALTER TABLE [dbo].[Master]  WITH CHECK ADD  CONSTRAINT [CK_TIME_1] CHECK  (([TIME]<(240000)))
GO
ALTER TABLE [dbo].[Master] CHECK CONSTRAINT [CK_TIME_1]
GO
USE [master]
GO
